/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
body {
	width: 100%;
	background-color: rgb(32, 32, 32);
	background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
	background-size: 10px 10px, 10px 10px, 10px 5px;
	background-position: 0px 0px, 5px 5px, 0px 0px;
	height: 100%;
	overflow: hidden;
	overflow-y: scroll;
	text-align: center;
	display: table;
}
.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.content h1 {
	color: #fff;
	font-family: "Poppins";
	font-weight: 200;
	font-size: 40px;
}
nav {
	width: 80%;
	background: #000;
	height: 70px;
	position: static;
	z-index: 1;
}
nav #brand {
	float: left;
	display: block;
	margin-left: 84px;
	font-size: 30px;
	line-height: 70px;
	font-weight: bold;
}
nav #brand a {
	color: #fff;
	transition: all 0.3s ease-out;
	font-family: "Poppins";
	font-weight: 300;
}
nav #menu {
	float: left;
	left: 50%;
	position: relative;
}
nav #menu li {
	display: inline-block;
	padding: 0px 30px;
	cursor: pointer;
	line-height: 70px;
	position: relative;
	transition: all 0.3s ease-out;
}
nav #menu li a {
	color: #fff;
	font-family: "Poppins";
	font-weight: 200;
}
#toggle {
	position: absolute;
	right: 20px;
	top: 14px;
	z-index: 999;
	width: 40px;
	height: 40px;
	cursor: pointer;
	float: right;
	transition: all 0.3s ease-out;
	visibility: hidden;
	opacity: 0;
}
#toggle .span {
	height: 3px;
	background: #fff;
	transition: all 0.3s ease-out;
	backface-visibility: hidden;
	margin: 5px auto;
}
#toggle.on #one {
	transform: rotate(45deg) translateX(2px) translateY(4px);
}
#toggle.on #two {
	opacity: 0;
}
#toggle.on #three {
	transform: rotate(-45deg) translateX(8px) translateY(-10px);
}
#resize {
	z-index: 1;
	top: 0px;
	position: absolute;
	background: #000;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	transition: all 1s ease-out;
	display: table;
}
#resize #menu {
	height: 90px;
	display: table-cell;
	vertical-align: center;
}
#resize #menu li {
	display: block;
	text-align: center;
	padding: 20px 0;
	font-size: 50px;
	min-height: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease-out;
}
#resize li:nth-child(1) {
	margin-top: 140px;
}
#resize #menu li a {
	color: #fff;
}
#resize.active {
	visibility: visible;
	opacity: 0.99;
}
@media(max-width: 768px) {
	#toggle {
		visibility: visible;
		opacity: 1;
		margin-top: 6px;
	}
	nav #brand {
		margin-left: 18px;
	}
	#menu a {
		font-family: "Poppins";
		font-weight: 200;
		font-size: 20px;
	}
	nav #menu {
		display: none;
	}
}
@media(min-width: 768px) {
	#resize {
		visibility: hidden !important;
	}
}
p {
	color: #fff;
	font-size: 20px font-family: "Poppins"
}
.c2 p {
	color: #fff;
	font-size: 20px;
	font-weight: 200;
	font-family: "Poppins";
}
.i1 {
	position: absolute;
	top: 8%;
	left: 15%;
}
.i2 {
	position: absolute;
	top: 65%;
	left: 15%;
}
.i3 {
	position: absolute;
	top: 122%;
	left: 15%;
}
.i4 {
	position: absolute;
	top: 179%;
	left: 15%;
}
@media(min-width: 768px) {
	.t1 {
		position: right;
		top: -60%;
		right: 15%;
		padding-right: 10%;
		padding-left: 60%;
		padding-top: 15%;
	}
	.t2 {
		position: right;
		top: 85%;
		right: 15%;
		padding-right: 10%;
		padding-left: 60%;
		padding-top: 19%;
	}
	.t3 {
		position: right;
		top: 142%;
		right: 15%;
		padding-right: 10%;
		padding-left: 60%;
		padding-top: 15%;
	}
	.t4 {
		position: right;
		top: 196%;
		right: 15%;
		padding-right: 10%;
		padding-left: 60%;
		padding-top: 20%;
	}
	.i1 {
		position: absolute;
		top: 15%;
		left: 15%;
	}
	.i2 {
		position: absolute;
		top: 75%;
		left: 15%;
	}
	.i3 {
		position: absolute;
		top: 115%;
		left: 15%;
	}
	.i4 {
		position: absolute;
		top: 157%;
		left: 15%;
	}
}
img {
	top: 50%;
	width: 30%;
	float: center;
	margin: 1.66%
}
@media(max-width: 768px) {
	.i1 {
		position: absolute;
		top: 8%;
		left: 15%;
	}
	.i2 {
		position: absolute;
		top: 65%;
		left: 15%;
	}
	.i3 {
		position: absolute;
		top: 122%;
		left: 15%;
	}
	.i4 {
		position: absolute;
		top: 179%;
		left: 15%;
	}
	img {
		top: 70%;
		width: 50%;
		float: center;
		margin: 1.66%
	}
	.fc {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: space-between;
		align-items: center;
	}
	.fi1 {
		right: 5%;
		width: 300px;
		height: 250px;
		position: relative;
		padding-left: 15%;
		margin-left: 10%;
	}
	.fi2 {
		right: 5%;
		width: 300px;
		height: 250px;
		position: relative;
		margin-right: 10%;
		margin-left: 10%;
		margin-top: -15%;
	}
	.fi3 {
		right: 5%;
		width: 300px;
		height: 250px;
		position: relative;
		padding-left: 20%;
		margin-left: 10%;
		margin-top: -70%;
	}
	.fi4 {
		right: 5%;
		width: 300px;
		height: 250px;
		position: relative;
		margin-right: 10%;
		margin-left: 10%;
		margin-top: 10%;
	}
	.fi5 {
		right: 5%;
		width: 300px;
		height: 250px;
		position: relative;
		padding-left: 20%;
		margin-left: 10%;
		margin-top: -100%;
	}
	.fi6 {
		right: 5%;
		width: 300px;
		height: 250px;
		position: relative;
		margin-right: 10%;
		margin-left: 10%;
		margin-top: 50%;
	}
	.fi7 {
		right: 5%;
		width: 300px;
		height: 250px;
		position: relative;
		padding-left: 20%;
		margin-left: 10%;
		margin-top: -145%;
	}
	.fi8 {
		right: 5%;
		width: 300px;
		height: 250px;
		position: relative;
		margin-right: 10%;
		margin-left: 10%;
		margin-top: 120%;
		padding-bottom: 10%;
	}
}